@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #black;
  --foreground: #white;
} */

/* [data-theme='dark'] {
  --background: black;
  --foreground: white;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
